version: 2
updates:
  - package-ecosystem: npm
    commit-message:
      prefix: "chore(npm-dep): "
    directory: '/'
    cooldown:
      default-days: 7
    # Always increase package version to the latest version even if lockfile is the only thing required to change
    versioning-strategy: increase
    schedule:
      interval: daily
      time: '05:00'
      timezone: Europe/London
    open-pull-requests-limit: 99
    groups:
      react:
        patterns:
          - "react*"
          - "react-**"
          - "@types/react*"
          - "@types/react-**"
      storybook:
        patterns:
          - "storybook*"
          - "@storybook/*"
        update-types:
          - "major"
          - "minor"
          - "patch"
      lexical:
        patterns:
          - "@lexical**"
          - "lexical**"
        update-types:
          - "minor"
          - "patch"
      ts-eslint:
        patterns:
          - "@typescript-eslint*"
          - "@typescript-eslint/*"
        update-types:
          - "minor"
          - "patch"
      storybook-dependencies:
        patterns:
          - "storybook*"
          - "@storybook/*"
        update-types:
          - "minor"
          - "patch"
      semantic-release-dependencies:
        patterns:
          - "@semantic-release*"
          - "@semantic-release/*"
        update-types:
          - "minor"
          - "patch"
