name: Auto approve Dependabot pull requests
on:
  pull_request_target:
    branches: [ main ]

jobs:
  approve-job:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Fetch Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Determine whether to run
        id: should-run
        run: |
          case "${{ steps.dependabot-metadata.outputs.update-type }}" in
              version-update:semver-patch) should_run=true ;;
              version-update:semver-minor) should_run=true ;;
              *) should_run=false ;;
          esac
          echo should_run=$should_run >> $GITHUB_OUTPUT
      - name: Approve Pull Request
        if: steps.should-run.outputs.should_run == 'true'
        uses: hmarr/auto-approve-action@5d04a5ca6da9aeb8ca9f31a5239b96fc3e003029
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Add squash and merge comment to PR
        if: steps.should-run.outputs.should_run == 'true'
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.AUTO_MERGE_DEPENDABOT_PR }}
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '@dependabot squash and merge'
            })
