name: Bump and Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - next
      - 'v*'

env:
  FONT_AWESOME_AUTH_TOKEN: ${{ secrets.FONT_AWESOME_AUTH_TOKEN }}

permissions:
  contents: write

jobs:
  bump-and-publish:
    uses: marshmallow-insurance/campfire/.github/workflows/shared-semantic-release.yml@main
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    secrets: inherit
