name: Merge Main
on:
  push:
    branches:
      - main
jobs:
  merge-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: marshmallow-insurance/campfire/.github/actions/setup-node-project@main
        env:
          FONT_AWESOME_AUTH_TOKEN: ${{ secrets.FONT_AWESOME_AUTH_TOKEN }}
      - name: Run Build Storybook
        run: |
          npm run build-storybook
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: storybook-static
          clean: true
      - uses: marshmallow-insurance/campfire/.github/actions/run-fossa-analysis@main
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}
