name: Preview Bump and Publish

on:
  workflow_dispatch:

env:
  FONT_AWESOME_AUTH_TOKEN: ${{ secrets.FONT_AWESOME_AUTH_TOKEN }}

permissions:
  contents: write

jobs:
  preview-bump-and-publish:
    uses: marshmallow-insurance/campfire/.github/workflows/shared-semantic-release-preview.yml@main
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    secrets: inherit
